DATABASE_PASSWORD=the-password-that-you-configured-postgre-with

SECRET_KEY=secret-key-to-generate-and-verify-user-identities

USER=admin-or-other-database-user-with-permission-to-manipulate-data

SMTP_TEST_EMAIL=a-personal-test-email-to-receive-messages-from-the-server

SMTP_HOST=a-domain-of-an-email-sending-test-service

SMTP_PORT=port-of-the-email-service

SMTP_USER=profile-id-of-the-service

SMTP_PASSWORD=password-of-the-profile

EMAIL_FROM="Development Server <no-reply@myapp.com>"-or-something-like-that