@import "tailwindcss";

@font-face {
  font-family: 'thecenturion';
  src: url(/fonts/the-centurion.otf);
}

@font-face {
  font-family: 'icelandwinterstorm';
  src: url(/fonts/iceland-winterstorm.otf);
}

@font-face {
  font-family: 'cloisterblack';
  src: url(/fonts/cloister-black.ttf);
}

:root {
  --gold: #d4af37;
  --goldgray: #807957;
  --gray: #818181;
  --darkgoldgray: #5c5740;
  --darkgray: #505050;
}

.invalid input {
  border: 2px solid red
}

@media (width >=768px) {
  #side-menu.closed {
    right: 97%;
  }

  #side-menu.closed #side-menu-button {
    rotate: 180deg;
  }
}

.menu-option {
  background-color: var(--gray);
  font-family: 'cloisterblack', serif;
  font-size: 30px;
  width: 70%;
  border: 8px groove var(--goldgray);
  border-radius: 10px;
}

.nicknametitle {
  font-family: 'cloisterblack', serif;
  text-shadow: -5px 5px 3px #0008;
}

.decktitle {
  font-family: 'icelandwinterstorm', serif;
  text-shadow: -5px 5px 3px #0008;
}

.tools-menu-option {
  padding: 5px;
  margin-left: 10px;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.tools-menu-option:hover {
  background-color: #666;
}

.tools-menu-image {
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.tools-menu-label {
  color: white;
  font-size: 10px;
}

#chat-container {
  transition: all 0.3s;
  right: 80%;
}

#chat-container.closed {
  right: 100%;
}

#test-tools {
  bottom: 89%;
  transition: all 0.3s;
}

#test-tools.closed {
  bottom: 100%;
}

#object-positions-display {
  left: 81%;
  transition: all 0.3s;
}

#object-positions-display.closed {
  left: 100%;
}